@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* universal sectors */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root variable declaration */
:root{
    --clr-primary:#007D4F;
    --clr-secondary:#7c7c7c;
    --clr-light:#C4E3D7;
    --clr-white:#ebebeb;
    --clr-bg:#DAECE5;
}

/* html elements */
html{
    font-size: 10px;
    font-family: poppins, sans-serif;
    scroll-behavior: smooth;
    background-color: #FAFAFA;
}
.container{
    max-width: 125rem;
    margin: auto;
    padding: 0 2rem;
}
.header{
    background-image: url("./images/hero_bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width:100%;
    height: 100vh;
    background-attachment: fixed;
}

/* whatsapp styling */
.whatsapp{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    right: 0;
    top:40%;
    padding: 2.8rem 1rem;
    background-color: var(--clr-primary);
    writing-mode:vertical-lr;
    rotate: 180deg;
    border-radius: 0 1rem 1rem 0;   
    position: fixed;
    color: var(--clr-white);
}
.whatsapp:hover{
    background-color: var(--clr-light);
    color: var(--clr-primary);
    cursor: pointer;
}
.whatsapp i{
    font-size: 1.5rem;
    font-weight: 600;
}

.whatsapp h2{
    font-size: 1.5rem;
    font-weight: 500; 
}


/* navbar styles */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    background-color:transparent;
    border-bottom: solid 1px var(--clr-light);
}
/* navitems */
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 3.5rem;
}
nav ul li:not(:nth-child(1)){
    margin-left: 3.5rem;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--clr-white);
}
a:hover{
    color: var(--clr-primary);
}

/* phone number styling */
.phone-number{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.phone-number i{
font-size: 1.7rem;
color: var(--clr-primary);
}
.phone-number h3{
    font-size: 1.7rem;
    color: var(--clr-primary);
    font-weight: 500;
}

/* hero section Style */

.hero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* hero heading styling */
.col-2{
    flex-basis: 50%;
    min-width:30rem;
}
.col-2 .hero-head h6{
    font-size: 1.2rem;
    color:var(--clr-white);
    letter-spacing: 1rem;
    font-weight: 500;
}
.col-2 .hero-head h1{
    font-size: 5rem;
    color: var(--clr-primary);
    font-weight: 600;
}
.col-2 .hero-head p{
    font-size: 1.6rem;
    color:var(--clr-light);
    font-weight: 400;
    line-height: 2.2rem;
}

/* hero product styling */
.hero-product{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 3rem 0;
}
.hero-product-images{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.hero-product-images img{
    max-width: 8rem;
    padding-top:1rem;
}
.hero-product-images img:hover{
    scale:calc(1.2);
    transition: all 1s ease-in-out;
}
.hero-product-images h3{
    font-size: 1.8rem;
    color: var(--clr-primary);
    font-weight: 500;
}
.hero-product-images p{
    font-size: 1.2rem;
    color: var(--clr-light);
    font-weight: 400;
}

/* hero image styling */
.col-3{
    flex-basis: 50%;
    min-width:30rem; 
}
.col-3 img{
    width: 70rem;
    padding: 2rem 0;
}

/* -----why section styling starts here----- */
.why-nutridry{
    margin: 7rem 0;
}
.why-heading{
    width: 50%;
    min-width:30rem; 
}
.why-heading h2{
    font-size: 2.2rem;
    color: var(--clr-primary);
    font-weight: 500;
}
.why-heading p{
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--clr-secondary);
}
/* why images  */
.why-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4rem;
}
.image-1{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.image-1 i{
    font-size: 4rem;
    color: var(--clr-primary);
    padding: 1rem 0; 
}
.image-1 h3{
    font-size: 1.5rem;
    color: var(--clr-primary);
    font-weight: 500;
}

/* -----About Section Styling Starts----- */
.about{
    background-image: url(./images/nutri_bg.webp);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}
.about .container{
    max-width: 125rem;
    margin: auto;
    padding: 5rem 2rem;
}
.about-heading{
    padding: 2rem 0;
    width: 60%;
}
.about-heading h2{
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--clr-primary);
}
.about-heading p{
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--clr-secondary);
}
.about-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
}
.about-image img{
    padding: 2rem 0;
    width: 40%;
    border-radius: 1rem;
}
.about-content{
    width:55%;
}
.about-right-heading{
    padding: 2rem 0;
}
.about-right-heading h1{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--clr-primary);
}
.about-right-heading p{
    padding-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--clr-secondary);
    text-align: justify;
}
.about-right-row h1{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--clr-primary);
}
/* about box-- */

.about-right-row .about-box{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0;
/* display: flex;
flex-direction: row;
flex-wrap: wrap; */
}
.about-box .box-1{
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 3rem;
    background-color: #Ffffff;
    border-radius: 1rem;
}
.box-1 i{
    font-size: 3rem;
    color: var(--clr-primary);
    padding: 1rem 0; 
    background-color: var(--clr-light);
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 100%;
}
.box-1 h2{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--clr-primary);
    padding: 0.8rem 0;
}
/* product section starts--- */
.products{
    background-color: var(--clr-bg);
}
.products .container{
    max-width: 125rem;
    margin: auto;
    padding: 5rem 2rem;
}
.product-heading{
    padding: 2rem 0;
    width: 100%;
}
.product-heading h2{
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--clr-primary);
}
.product-heading p{
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--clr-secondary);
}
.categories h3{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--clr-primary);
}
.product-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.product-box .box{
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.box{
    padding: 5rem 4.5rem;   
    border: 0.1rem solid #f6f0f0;
    border-radius: 1rem;
}
.box:hover{
    cursor: pointer;
    transition: all 0.6s linear;
    background-color: rgba(255, 255, 255, 0.3);
}
.box img{
    max-width:10rem;
    padding-top:1rem;
}
.box img:hover{
    scale: 1.2;
    transition: all 0.6s linear;
}
.box h3{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--clr-primary);
}
.box p{
    padding-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--clr-secondary);
}